<div class="page-header">
  <h3>Direction #<%= @direction.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Director</dt>
      <dd>
        <% if @direction.director.present? %>
          <a href="/directors/<%= @direction.director_id %>">
            <%= @direction.director.name %>
          </a>
        <% end %>
      </dd>

      <dt>Actor</dt>
      <dd>
        <% if @direction.actor.present? %>
          <a href="/actors/<%= @direction.actor_id %>">
            <%= @direction.actor.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/directions" class="btn btn-primary">
        Back
      </a>
      <a href="/directions/<%= @direction.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_direction/<%= @direction.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
